@font-face {
  font-family: 'TungstenBold';
  src: url(fonts/TungstenBold.woff) format('woff');
}

* {
  padding: 0;
  margin: 0;
}
/* Main Style */

body {
  font: 18px/36px 'TungstenBold', 'Arial Narrow', arial, sans-serif;
  background-image: url(img/pinkies.png);
}

h1 {
  font-size: 80px;
  margin: 50px 0;
  text-align: center;
  color: rgb(123, 62, 62);
  text-shadow: 1px 1px 2px #fff;
}

.container {
  width: 600px;
  background-color: rgb(167, 66, 66);
  margin: auto;
  padding: 30px;
  box-shadow: 0 0 3px 3px rgba(108, 42, 42, 0.3);
  border-radius: 5px;
}

.showcase li {
  width: 120px;
  height: 120px;
  /* overflow: hidden; */
  border: 3px solid rgb(155, 36, 36);
  float: left;
  margin-right: 36px;
  left: 75px;
  position: relative;
}
.showcase li,
.showcase li a img,
.showcase li span {
  border-radius: 50%;
}

.showcase li a img {
  margin: auto;
  height: auto;
  width: 120px;
}
.showcase li span {
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(232, 161, 161, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 120px;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transform: scale(0) rotate(0);
  transition: 0.3s;
}
.showcase li a:hover span {
  opacity: 1;
  transform: scale(1) rotate(360deg);
}
.clear {
  clear: both;
}

/* za overlay */

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999;
  transition: 0.8s;
  text-align: center;
  padding: 100px 0;
}

.overlay:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.overlay img {
  max-height: 100%;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.8);
  margin: auto;
}

.overlay:target img {
  animation: fadenzoom 1s;
}

.overlay .close {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -40px;
  color: rgb(206, 175, 175);
  text-decoration: none;
  background-color: rgb(201, 108, 108);
  border: 1px solid rgb(132, 59, 59);
  line-height: 14px;
  padding: 5px;
  opacity: 0;
}

.overlay:target .close {
  animation: merosotfade 0.5s 0.5s forwards;
}

.next {
  width: 90px;
  height: 87px;
  background-image: url(img/next.png);
  background-repeat: no-repeat;
  position: absolute;
  text-indent: -9999px;
  top: 33%;
  margin-left: 50px;
}
.prev {
  width: 90px;
  height: 87px;
  background-image: url(img/prev.png);
  background-repeat: no-repeat;
  position: absolute;
  text-indent: -9999px;
  top: 33%;
  margin-left: -70px;
}
/* animation */

@keyframes fadenzoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes merosotfade {
  0% {
    opacity: 0;
    margin-top: -20px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}
