/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* style cssnyah */

body {
  font: 16px/26px arial, sans-serif;
  cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat927.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat927.png), auto !important;
  background-color: #eaeaea;
  background-image: url(img/prism.png);
  color: #333;
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #333;
  border-bottom: 3px solid rgb(240, 73, 90);
  z-index: 9999;
}
.top-bar marquee {
  z-index: 9999;
  color: #ff4bb1;
  padding-top: 5px;
}
.tx {
  font-family: 'Xanh Mono', monospace;
}
#jepun {
  font-family: 'Noto Sans JP', sans-serif;
}
.container {
  width: 960px;
  margin: 80px auto;
  background-color: #fff;
  position: relative;
}
.twiter {
  width: 200px;
  height: 200px;
  background-image: url(img/ribboncons.png);
  /* background-repeat: no-repeat; */
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
  top: -45px;
  right: -33px;
}
.twiter2 {
  width: 200px;
  height: 200px;
  background-image: url(img/ribboncons.png);
  /* background-repeat: no-repeat; */
  display: inline-block;
  text-indent: -9999px;
  position: absolute;
  bottom: -70px;
  left: -33px;
}
.header {
  padding: 20px;
  padding-bottom: 10px;
}
.header .judul {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  filter: blur(0px);
  transition: all 2s;
  margin-left: 370px;
}
.header .judul:hover {
  transform: rotateX(20deg) translatey(-50px);
  opacity: 0;
  filter: blur(20px);
}
#judul {
  color: rgb(208, 48, 59);
}

.header ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 10px;
}

.header a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 3px;
}

.header a:hover {
  background-color: rgb(240, 73, 90);
  color: #fff;
}

.hero {
  height: 300px;
  width: 300px;
  background-image: url(img/underc.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  margin-left: 330px;
  margin-top: 10px;
}
.main {
  width: 900px;
  padding: 33px;
  box-sizing: border-box;
  margin-left: 30px;
}

.main h2 {
  font-size: 22px;
  font-weight: bold;
  color: rgb(164, 50, 38);
  text-align: center;
  padding-top: 20px;
}
.main h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  color: rgb(226, 56, 37);
}
.main .penulis {
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.main .penulis a {
  color: salmon;
  text-decoration: none;
}
.main .penulis a:hover {
  color: rgb(240, 73, 90);
}
.main p {
  margin-bottom: 20px;
  font-size: 14px;
}
.main p img {
  height: 304px;
  width: 540px;
}
#italic {
  font-style: italic;
}
.animeg {
  height: 300px;
  width: 300px;
  background-image: url(img/animek.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
  margin-left: -330px;
  margin-top: 10px;
  float: right;
}
.footer {
  background-color: #333;
}

.footer .copy {
  color: #eaeaea;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

/* microclearfix */
.cf:before,
.cf:after {
  content: ' '; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
