body {
  background-color: aqua;
  font-family: Georgia;
}
h1 {
  font-family: Comic Sans MS;
  font-size: 60px;
  color: darkblue;
}
h4 {
  text-align: right;
  text-decoration: italic;
}
h3 a {
  color: azure;
}

p {
  text-align: center;
}
.keju {
  text-align: justify;
}
#orenjikun {
  color: coral;
}
